@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

body {
  font-size: 0.8rem;
  color: #fff;
  overflow: hidden;
}

#app { 
  border-radius: 4px;
  background-color: var(--bg-color);
}

.drag-area {
  -webkit-app-region: drag;
}

.custom-border {
  border: 1px solid rgba(255, 255, 255, 0.194);
  border-radius: 0.2rem;
}

.input-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
  width: 5px; /* 滚动条宽度 */
}

::-webkit-scrollbar-track {
  background: transparent; /* 轨道颜色 */
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #88888826; /* 滑块颜色 */
  border-radius: 10px; /* 滑块圆角 */
}

.n-dropdown-menu .n-dropdown-option .n-dropdown-option-body {
  font-size: 12px !important;
}

input[type="range"]::-webkit-slider-thumb {
  width: 15px;
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  cursor: pointer;
  background: #FFF;
  box-shadow: -405px 0 0 400px #262524;
  border-radius: 50%;
}